* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background:linear-gradient(to right, black,rgb(153, 159, 153) )
}

.buttons button,.toggle {
  margin: 10px;;
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons button,.toggle:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.buttons button,.toggle:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}